<div class="container mb-3 mt-3">

  <section class="row text-center placeholders">

    <div class="col-6 col-sm-2 placeholder">
      <a class="nav-link" href="/admin/dashboard">
        <img src="/images/dashboard.jpg" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Dashboard</h4>
        <div class="text-muted">list & edit rides</div>
      </a>
    </div>
    <div class="col-6 col-sm-2 placeholder">
      <a class="nav-link" href="/admin/credential">
        <img src="/images/credential.png" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Credentials</h4>
        <span class="text-muted">update admin user</span>
      </a>
    </div>
    <div class="col-6 col-sm-2 placeholder">
      <a class="nav-link" href="/cars/list">
        <img src="/images/car-dashboard.png" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Cars</h4>
        <span class="text-muted">list, edit & add cars</span>
      </a>
    </div>
    <div class="col-6 col-sm-2 placeholder">
      <a class="nav-link" href="/drivers/list">
        <img src="/images/driver-dashboard.png" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Drivers</h4>
        <span class="text-muted">list, edit & add drivers</span>
      </a>
    </div>
    <div class="col-6 col-sm-2 placeholder">
      <a class="nav-link" href="/promos/list">
        <img src="/images/promo.png" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Promo Code</h4>
        <span class="text-muted">list & add promos</span>
      </a>
    </div>
    <div class="col-6 col-sm-2 placeholder">
      <a class="nav-link" href="/admin/dashboard">
        <img src="/images/user.png" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Users</h4>
        <span class="text-muted">list users accounts</span>
      </a>
    </div>
  </section>

</div>
