        </div>

        <script type="text/javascript" src="/js/pluginsForm.js"></script>
        <script type="text/javascript" src="/js/pluginsAdmin.js"></script>
        <script type="text/javascript" src="/js/validation.js"></script>
        <script type="text/javascript" src="/js/intlTelInput.js"></script>
        <script type="text/javascript" src="/js/utils.js"></script>
        <script type="text/javascript">
          $("#phone").intlTelInput();
        </script>

    </body>
</html>
