        </div>

        <footer class="footer">
          <div class="Modalcontainer text-center">
            <a href="#" data-toggle="modal" data-target="#myModal">Privacy Policy</a>

            <div class="modal fade" id="myModal">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Privacy Policy</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Please contact jgirges@airportitransportation.com for privacy policy.
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </footer>

        <script type="text/javascript" src="/js/pluginsForm.js"></script>
        <script type="text/javascript" src="/js/pluginsAdmin.js"></script>
        <script type="text/javascript" src="/js/validation.js"></script>
        <script type="text/javascript" src="/js/intlTelInput.js"></script>
        <script type="text/javascript" src="/js/utils.js"></script>
        <script type="text/javascript">
          $("#phone").intlTelInput();
        </script>

    </body>
</html>
